.join-game-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.formHeader {
  color: white;
}
@media (max-width: 768px) {
  .formHeader {
    font-size: 1.5rem;
  }
}
