.tableHeader {
  color: white;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 10;
  margin: 2rem;
  min-width: 600px;
}

th,
td {
  padding: 1rem;
  font-size: 1.5rem;
}

th {
  color: black;
}
td {
  color: white;
}

thead > tr {
  background-color: #509274;
}
tbody > tr {
  background-color: #485965;
}

tbody > tr:not(:last-child) {
  border-bottom: 1px solid white;
}
tbody > tr:last-child {
  border-bottom: 2px solid #509274;
}

@media (max-width: 768px) {
  table {
    min-width: 300px;
    margin: 0;
    margin-top: 1.5rem;
  }
  .tableHeader {
    font-size: 2rem;
  }
  th,
  td {
    padding: 1rem;
    font-size: 1rem;
  }
}
