.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #485965;
}

.leftWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: center;
  cursor: pointer;
  min-width: 320px;
}

.rightWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  vertical-align: center;
}

.logo {
  width: 100%;
  height: 3rem;
  width: 3rem;
}

.title {
  display: flex;
  align-items: center; /* Vertical centering */
  font-weight: bolder;
  font-size: 2rem;
}
@media (max-widt: 700px) {
  .title {
    font-size: 1rem;
  }
}

.rightMenuItem {
  cursor: pointer;
  display: flex;
  align-items: center; /* Vertical centering */
  margin-right: 1rem;
}
